.blueButton{
    text-align: center;
    background: #2196f3;
    border-bottom: 1px solid beige;
    font-weight: 600;
    color: bisque;
    padding: 9px;
    cursor: pointer;
    font-size: 15px;

    display: block;
    text-decoration: none;

}